html, body{
height: 100%;
width: 100%;
background-color: black;
}

@media screen and (max-width: 767px){
	.navbar-header{
		text-align: center;
	}
}

.navbar-brand{
	display: inline-block;
	float: none;
	font : white;

}
.navbar-toggle{
	float: left;
	color: #FFF;
}

canvas{
	border: 5pt solid black;
	position: relative;
	height: auto;
	width: 100%;
	box-sizing: border-box;
    display:block;

}
