html, body{
height: 100%;
width: 100%;
background-color: white;
}

@media screen and (max-width: 767px){
	.navbar-header{
		text-align: center;
	}
}

.navbar-brand{
	display: inline-block;
	float: none;
	font : white;

}
.navbar-toggle{
	float: left;
	color: #FFF;
}

canvas{
	border: 5pt solid black;
	position: relative;
	height: auto;
	width: 100%;
	box-sizing: border-box;
    display:block;

}
#button {
    cursor:pointer;
}
#menu li a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}
#right {
    background-color: #fff;
    z-index: 5;
    position: relative;
    left: 0px;
	height: auto;
	width: 100%;
    -webkit-box-shadow: -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
    moz-box-shadow: -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
    o-box-shadow: -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
#menu {
    float:left;
    width: 150px;
}
#menu li {
    background-color:#444;
    border-bottom: 1px solid #888;
}

/* Side Sliding Menu */

#menu-trigger {
  display: none;
}
#menu-trigger + label {
    background-color: #333;
    color: #FFF;
    cursor: pointer;
    padding: 20px 10px;
    margin: 20em auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; // since the trigger comes first in our markup
    border-radius: 8px;
    -webkit-transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; // future proofing
    user-select: none; // future proofing
}
header {
    background-color: #333;
    height: 100%;
    width: 250px;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
     z-index: 1;
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
}

ul.menu > li > a {
    color: #AAA;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
}

ul.menu > li > a:hover {
    background-color: #222;
    color: #FFF;
}
body {
    overflow-x: hidden; // prevent a horizontal scrollbar from pushing the content right
}

#content {
    -webkit-transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
}
#menu-trigger:checked + label {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
}

#menu-trigger:checked ~ header {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

#menu-trigger:checked ~ #content {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
}

