body{
    margin: 0;
}
#site-wrapper{
position: relative;
overflow: hidden;
background-color: blue;
}

/* Side Sliding Menu */
#screen-wrapper{
    -webkit-transform: translateX(0);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;

}
#offscreen-list{
    width: 30vw;
    height: 100%;
    position: absolute;
    top: 0;
    background: black;
    z-index: 0;
    transform: translateX(-30vw);
}
.toggle-parent{
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    width: 100%;

}
#toggle-list{
    display: flex;

    position: absolute;
    
    width: 7%;
    height: 7%;
    background-image: -moz-linear-gradient(
        0% 100% 90deg,#1C1C1C, #404040, #1C1C1C 100%);
    background-image: linear-gradient(
        0% 100% 90deg,#1C1C1C, #404040, #1C1C1C 100%);
    background-image: -webkit-radial-gradient(
         100%,#404040, #1C1C1C 100%);
}
#playlistIcon{
    height: 100%;
    width: 100%;
}
#screen-wrapper.hide-list {
    -webkit-transform: translateX(30vw);
    transform: translateX(30vw);
}
#toggle-list.hide-list{
}
/* End of Side Sliding Menu */

canvas{

}



#header{
    background-image: -moz-linear-gradient(
        0% 100% 90deg,#1C1C1C, #404040, #1C1C1C 100%);
    background-image: linear-gradient(
        0% 100% 90deg,#1C1C1C, #404040, #1C1C1C 100%);
      background-image: -webkit-radial-gradient(
         100%,#404040, #1C1C1C 100%);
    display: -webkit-flex;
    display: flex;
    padding: 0 2%;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;

  
}
#logo{
    display: flex;
    max-height: 125px; 
    min-height: 80px;
    flex:.05;


}
#player{
    display: flex;

    flex:.5;
    justify-content: center;

    flex-direction: column;
    flex-wrap: nowrap;

}
#buttons-wrapper{

    display: flex;
    justify-content: space-around;
    flex-wrap:nowrap;
    margin: .5em;
    padding: .25em;

}
#button{
    width: 23%;
    height: 45px;
    filter: drop-shadow(5px 5px 1px black);
     -webkit-filter:drop-shadow(5px 5px 1px black);

}
#button:hover{
    opacity: 0.9;
}
#button:active{
    filter: none;
     -webkit-filter:none;
    height: 44px; 
    transition: all .1s ease;
}
#title-box{

    margin: 0 .5em .5em .5em;
    color: white;


}

/* search bar */
.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}
.ui-autocomplete{ /* search result displayed*/
    display: flex;
    flex:1;

    position: static;
    flex-direction: column;
    align-items: center;


}
.ui-autocomplete-input{ /* search bar */
    display: flex;
    border-style: none;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    flex:1.5;
    font-size: 1em
}
.ui-widget{
    display: flex;
    align-items: center;
    flex: 2;
    width: 50%

}
@media handheld, screen and (max-width: 600px){
    #header{ 
        -moz flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #logo{
       flex:.05; 
    } 
    .ui-autocomplete-input{
        width: 100%;
    }
    #player{
        flex:1 auto;


    }
    #buttons{
        flex:1;
    }
    #button-play, #button-next, #button-previous{
        padding: 2%;
        width: 25%;
        ;   
    }
    #toggle-list{
        width: 15%;
        height: 15%;
    }
}
.playlist { /* containing li's of selected songs*/
    padding: 0;
    margin: 0;
    overflow-x: hidden;


}
/* loading li's sliding into place*/
@-webkit-keyframes playlist-animation { from { transform: translateX(-15vw); } to { transform: translateX(0px); }  }
@-moz-keyframes playlist-animation { from { transform: translateX(-15vw); } to { transform: translateX(0px); }  }
@-o-keyframes playlist-animation { from { transform: translateX(-15vw); } to { transform: translateX(0px); }  }
    @keyframes playlist-animation { from { transform: translateX(-15vw); } to { transform: translateX(0px); }  }

.thumbnail { /* album art */
    display: inline-block;
    float: left;
    width: 25%;
    padding-right: 5px;
}
.track-playlist { /*track name*/
    list-style-type: none;
    color: white;
    padding: 0;
    font-size: 1em;

}

.track-playlist:hover{
    color: black;
}
/* loading li's sliding into place*/
@-webkit-keyframes playlist-animation { from { transform: translateX(-15vw); } to { transform: translateX(0px); }  }
@-moz-keyframes playlist-animation { from { transform: translateX(-15vw); } to { transform: translateX(0px); }  }
@-o-keyframes playlist-animation { from { transform: translateX(-15vw); } to { transform: translateX(0px); }  }
    @keyframes playlist-animation { from { transform: translateX(-15vw); } to { transform: translateX(0px); }  }

.queued-song { 
    display: inline-block;
    font-family: arial;
    margin: 10px 0 10px 0;
    width: 100%;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    opacity: 0.8;
    -webkit-transition: background .5s ease-out; /* transition back after hover*/
    -moz-transition: background .5s ease-out;
    -ms-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
        transition: background .5s ease-out;
    /* loading li's sliding into place*/
    -webkit-animation: playlist-animation 1s ease forwards ;
    -moz-animation: playlist-animation 1s ease forwards;
    -o-animation: playlist-animation 1s ease forwards;
        animation: playlist-animation 1s ease forwards;
    
}

.queued-song:hover {
    background-color: white;
    color: black;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    opacity: 1;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}