body{
    margin: 0;
}
#site-wrapper{
position: relative;
overflow: hidden;
background-color: blue;
}

/* Side Sliding Menu */
#screen-wrapper{
    -webkit-transform: translateX(0);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;

}
#offscreen-list{
    width: 30vw;
    height: 100%;
    position: absolute;
    top: 0;
    background: #242424;
    z-index: 0;
    transform: translateX(-30vw);
}
.toggle-parent{
    width: 100%;

}
#toggle-list{
    position: absolute;
    top: 50%;
    width: 7%;
    height: 7%;
}
#screen-wrapper.hide-list {
    -webkit-transform: translateX(30vw);
    transform: translateX(30vw);
}
#toggle-list.hide-list{
}
#playlist-holder{
    overflow: hidden;
    height: 100%;
    width: 30vw;
}
.playlist { /* Ul containing li's of queued songs*/
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
    /* below allows scrolling, but pushes the scrollbar out of view*/
    width:31vw;
    overflow: auto;
    max-height: 100%;
    margin-right: -28px;
    padding-right: 28px;


}
.queued-song { /*li's of selectd songs*/
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    background-color: #000000;
    font-family: arial;
    width: 100%;
    /* loading li's sliding into place*/
    -webkit-animation: playlist-animation .5s ease forwards ;
    -moz-animation: playlist-animation .5s ease forwards;
    -o-animation: playlist-animation .5s ease forwards;
        animation: playlist-animation .5s ease forwards;
    
}
.queued-song:hover {}
.album-art { /* album art */
    flex:1;

}
.song-title { 
    flex:2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0;
    font-size: 1em;


}
.user-avatar{
    flex:1;
    height: 100%;
    overflow: hidden;
}

.track-playlist:hover{
    color: black;
}
/* loading li's sliding into place*/
@-webkit-keyframes playlist-animation { from { transform: translateX(-20vw); } to { transform: translateX(0px); }  }
@-moz-keyframes playlist-animation { from { transform: translateX(-20vw); } to { transform: translateX(0px); }  }
@-o-keyframes playlist-animation { from { transform: translateX(-20vw); } to { transform: translateX(0px); }  }
    @keyframes playlist-animation { from { transform: translateX(-20vw); } to { transform: translateX(0px); }  }

/* End of Side Sliding Menu */

canvas{}

#header{
    background: #242424;
    display: -webkit-flex;
    display: flex;
    padding: 0 2%;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;

  
}
#logo{
    display: flex;
    max-height: 125px; 
    min-height: 80px;
    flex:.05;


}
#player{
    display: flex;
    flex:.5;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

}
#buttons-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap:nowrap;
    margin: .5em;
    padding: .25em;

}
.button{
    width: 23%;
    height: 45px;
    filter: drop-shadow(5px 5px 1px black);
     -webkit-filter:drop-shadow(5px 5px 1px black);

}
.button:hover{
    opacity: 0.9;
}
.button:active{
    filter: none;
    -webkit-filter:none;
    height: 44px; 
    transition: all .1s ease;
}
/*displays the current song title*/
#title-box{
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 0 .5em .5em .5em;
    color: #fff;
    background-color: #000;
    text-align: center;
}

/* search bar */
.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}
.ui-autocomplete{ /* search result displayed*/
    display: flex;
    flex:1;
    position: static;
    flex-direction: column;
    align-items: center;
}
.ui-autocomplete-input{ /* search bar */
    display: flex;
    background-color: #d5d5d5;
    color: #000000;
    border-style: none;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    flex:1.5;
    font-size: 1em
}
.ui-widget{
    display: flex;
    align-items: center;
    flex: 2;
    width: 50%;
}
.ui-menu-item{ /* selection of songs displayed*/ 
    background-color: #d5d5d5;
    width: 100%;
    text-align: center;
}
.ui-menu-item:hover{
    background-color: #809e8f;
}

@media handheld, screen and (max-width: 600px){
    #header{ 
        -moz flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #logo{
       flex:.05; 
    } 
    .ui-autocomplete-input{
        width: 100%;
    }
    #player{
        flex:1 auto;


    }
    #buttons{
        flex:1;
    }
    #button-play, #button-next, #button-previous{
        padding: 2%;
        width: 25%;
        ;   
    }
    #toggle-list{
        width: 15%;
        height: 15%;
    }
}
