html, body{
height: 100%;
width: 100%;
margin: 0;
padding: 0;

}

canvas{
	position: relative;
	height: auto;
	width: 100%;
	box-sizing: border-box;

    display: block;
    z-index: -1;
    context.mozImageSmoothingEnabled = false;
    context.webkitImageSmoothingEnabled = false;
    context.msImageSmoothingEnabled = false;
    context.imageSmoothingEnabled = false;
}

/* search try */
.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}
/* Side Sliding Menu */

#menu-trigger {
  display: none;
}
#menu-trigger + label {
    background-color: #fff;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    padding: 20px 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
    -webkit-transition: -webkit-transform .9s ease;
    transition: transform .9s ease;
    -webkit-user-select: none; /* users can't scroll select the icon */
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; // future proofing
    user-select: none; // future proofing
}
header {
    background-color: #fff;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 250px;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
     z-index: 1;
     overflow-x: hidden;
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transition: -webkit-transform .9s ease;
    transition: transform .9s ease;
}

body {
    overflow-x: hidden; /* prevent a horizontal scrollbar from pushing the content right*/
}
#menu-trigger:checked + label {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
}

#menu-trigger:checked ~ header {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
/* End of Side Sliding Menu */

#container-1 {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.ui-widget {
    display: inline-block;
    width: 100%;
    margin: 0 0 0 -33%;
    left: 66%;
    position: absolute;
    z-index: 1;
}
.ui-autocomplete{ /* song suggestions */
    background-color: white;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    opacity: 0.8;
}
.ui-autocomplete:hover {
   
}
.ui-autocomplete-input{ /* search bar */
    width: 33%;
    background: rgba(0, 0, 0, 0.4);
    height: 25px;
    margin-top: 13px;
    padding-left: 5px;
    border-style: none;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* easing back */
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;

}
.ui-autocomplete-input:hover, 
.ui-autocomplete-input:focus, 
.ui-autocomplete-input:active {
    background-color: white;
    color: black;
    border: 1px solid black;
    -webkit-transform: scale(1.25); 
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25); /*Enlarge*/
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
/*Style the placeholder text of the search bar*/
#search::-webkit-input-placeholder {
   color: white;
   opacity: 1;
}
#search:-moz-placeholder{
    color: white;
    opacity: 1;
}
#search::-moz-placeholder{
    color: white;
    opacity: 1;
}
#search:-ms-input-placeholder{
    color: white;
    opacity: 1;
}
/* on-hover for placeholder text */
#search:hover::-moz-placeholder, 
#search:active::-moz-placeholder, 
#search:focus::-moz-placeholder {
    color:black;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#search:hover::-webkit-input-placeholder, 
#search:active::-webkit-input-placeholder, 
#search:focus::-webkit-input-placeholder {
    color:black;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#search:hover:-moz-placeholder, 
#search:active:-moz-placeholder, 
#search:focus:-moz-placeholder{
    color:black;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#search:hover:-ms-input-placeholder, 
#search:active:-ms-input-placeholder, 
#search:focus:-ms-input-placeholder{
    color:black;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.playlist { /* containing li's of selected songs*/
    padding: 0;
    margin: 0;
    overflow-x: hidden;


}
/* loading li's sliding into place*/
@-webkit-keyframes playlist-animation { from { transform: translateX(-250px); } to { transform: translateX(0px); }  }
@-moz-keyframes playlist-animation { from { transform: translateX(-250px); } to { transform: translateX(0px); }  }
@-o-keyframes playlist-animation { from { transform: translateX(-250px); } to { transform: translateX(0px); }  }
@keyframes playlist-animation { from { transform: translateX(-250px); } to { transform: translateX(0px); }  }

.thumbnail { /* album art */
    display: inline-block;
    float: left;
    width: 60px;
    padding-right: 5px;
}
.track-playlist { /*track name*/
    list-style-type: none;
    color: white;
    padding: 0;

}

.track-playlist:hover{
    color: black;
}
/* loading li's sliding into place*/
@-webkit-keyframes playlist-animation { from { transform: translateX(-250px); } to { transform: translateX(0px); }  }
@-moz-keyframes playlist-animation { from { transform: translateX(-250px); } to { transform: translateX(0px); }  }
@-o-keyframes playlist-animation { from { transform: translateX(-250px); } to { transform: translateX(0px); }  }
@keyframes playlist-animation { from { transform: translateX(-250px); } to { transform: translateX(0px); }  }

.queued-song { 
    display: inline-block;
    font-family: arial;
    margin: 10px 0 10px 0;
    width: 100%;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    opacity: 0.8;
    -webkit-transition: background .5s ease-out; /* transition back after hover*/
    -moz-transition: background .5s ease-out;
    -ms-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
        transition: background .5s ease-out;
    /* loading li's sliding into place*/
    -webkit-animation: playlist-animation 1s ease forwards ;
    -moz-animation: playlist-animation 1s ease forwards;
    -o-animation: playlist-animation 1s ease forwards;
        animation: playlist-animation 1s ease forwards;
    
}

.queued-song:hover {
    background-color: white;
}
/* player css */
#play {
    background: url(images/play-button.png);
    height:166px;
    width: 166px;
    z-index: 1;
    color: black;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    opacity: 1;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}