html, body{
height: 100%;
width: 100%;
margin: 0;
padding: 0;

}

canvas{
	position: relative;
	height: auto;
	width: 100%;
	box-sizing: border-box;
    display: block;
    z-index: -1;
    context.mozImageSmoothingEnabled = false;
    context.webkitImageSmoothingEnabled = false;
    context.msImageSmoothingEnabled = false;
    context.imageSmoothingEnabled = false;
}

/* search try */
.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}
/* Side Sliding Menu */

#menu-trigger {
  display: none;
}
#menu-trigger + label {
    background-color: #fff;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    opacity: 0.3;
    color: #FFF;
    cursor: pointer;
    padding: 20px 10px;
    margin: 20em auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; // since the trigger comes first in our markup
    border-radius: 8px;
    -webkit-transition: -webkit-transform .9s ease;
    transition: transform .9s ease;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; // future proofing
    user-select: none; // future proofing
}
header {
    background-color: #fff;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    opacity: 0.3;
    height: 100%;
    width: 250px;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
     z-index: 1;
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transition: -webkit-transform .9s ease;
    transition: transform .9s ease;
}

ul.playlist > li > a {
    color: #fff;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    opacity: 0.8;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
}

ul.playlist > li > a:hover {
    background-color: red;
    color: yellow;
}
body {
    overflow-x: hidden; // prevent a horizontal scrollbar from pushing the content right
}

#content {
    -webkit-transition: -webkit-transform .9s ease;
    transition: transform .9s ease;
}
#menu-trigger:checked + label {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
}

#menu-trigger:checked ~ header {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

#menu-trigger:checked ~ #content {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
}
#container-1 {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.ui-widget {
    display: inline-block;
    width: 100%;
    margin: 0 0 0 -33%;
    left: 66%;
    position: absolute;
     z-index: 1;
}
#search{
    width: 33%;
    opacity: 0.4;
    height: 25px;
    margin-top: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.playlist {
    padding: 0;
}
.thumbnail {
    display: inline-block;
    float: left;
    width: 60px;
    padding-right: 5px;
}
.track-playlist {
    list-style-type: none;
    padding: 0;
}
.queued-song {
    display: inline-block;
    padding-right: 5px;
    font-family: arial;
    margin: 10px 0 10px 0;
    height: 60;
    width: 250;
    background-color: white;
}
/* player css */
#play {
    background: url(images/play-button.png);
    height:166px;
    width: 166px;
    z-index: 1;
}